@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
header ul li a.actived
{
    padding: 6px 15px;
    background: #9500ff;
    color: #fff;
    border-radius: 20px;
}
header ul li a.actived:hover
{
    background: #581286;
    color: #fff;
}
.shop
{
    position: relative;
    min-height: 100vh;
    padding: 200px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rule .content
{
    max-width: 800px;
    text-align: center;
}
.rule .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.container
{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx
{
    transform: translateY(-100px);
}
.container .card .imgBx img
{
    max-width: 60%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out; 
}
.container .card:hover .imgBx img
{
    transform: translate(0,-40px) scale(1.4);
}
.container .card .imgBx h2
{
    color: #fff;
    font-weight: 600;
}
.container .card .content
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content
{
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}
.container .card .content .vyhody,
.container .card .content .hyhody
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.container .card .content .vyhody h3,
.container .card .content .hyhody h3
{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .content .vyhody span
{
    color: #fff;
    font-size: 14px;
}
.container .card .content .hyhody span
{
    color: #fff;
    font-size: 14px
}
.container .card .content a
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}
footer
{
    position: relative;
    width: 100%;
    background: #2b1055;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer p
{
    color: #fff;
    text-align: center;
    font-size: 0.9em;
}